{#
/**
 * @file
 * Theme override to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 */
#}
{% import _self as menus %}
{#
  We call a macro which calls itself to render the full tree.
  @see https://twig.symfony.com/doc/1.x/tags/macro.html
#}
{{ menus.menu_links(items, attributes, 0) }}

{% macro menu_links(items, attributes, menu_level) %}
    {% import _self as menus %}
    {% if items %}
        {% if menu_level == 0 %}
            <ul{{ attributes }}  class="nav navbar-nav">
        {% else %}
            <ul class="nav navbar-nav">
        {% endif %}
        {% for item in items %}
            {{active_primary_title}}
            <li{{ item.attributes }} class"{{ item.active }}">
                <a href="{{ item.url }}"><span>{{ item.title }}</span></a>
            </li>
        {% endfor %}
            <li>
                <a href="/resume.pdf" target="_blank"><span class="glyphicon glyphicon-file"></span> Resume</a>
            </li>
        </ul>
    {% endif %}
{% endmacro %}

{# <ul class="nav navbar-nav">
          <li class="active">
              <a href="/"><span>Projects</span></a>
          </li>
          <li class="" >
              <a href="/about"><span>About</span></a>
          </li>
          <li>
            <a href="/resume.pdf" target="_blank"><span class="glyphicon glyphicon-file"></span> Resume</a>
          </li>
        </ul> #}