<div class="page-meta">
    <div class="panel panel-default">
      <div class="panel-body panel-body-page">
        {%- for item in items -%}
          {{ item.content }}
        {%- endfor -%}
      </div>
    </div>
  </div>