<div class="project-gallery col-lg-7">
    <div id="carousel-{{random_id}}" class="carousel slide" data-interval="false">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            {%- for key, item in items -%}
                <li data-target="#carousel-{{random_id}}" data-slide-to="{{key}}" class="{% if key == 0 %}active{% endif %}"></li>
            {%- endfor -%}
        </ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            {%- for key, item in items -%}
                <div class="item {% if key == 0 %}active{% endif %}">
                    {{ item.content }}
                </div>
            {%- endfor -%}
        </div>

        {% if items|length > 1 %}
        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-{{random_id}}" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-{{random_id}}" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
        {% endif %}
    </div>
</div>
