@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?-av64ly");
  src: url("../fonts/icomoon.eot?#iefix-av64ly") format("embedded-opentype"), url("../fonts/icomoon.woff?-av64ly") format("woff"), url("../fonts/icomoon.ttf?-av64ly") format("truetype"), url("../fonts/icomoon.svg?-av64ly#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-envelope-o:before {
  content: "\f003";
}

.icon-file-o:before {
  content: "\f016";
}

.icon-book:before {
  content: "\f02d";
}

.icon-twitter:before {
  content: "\f099";
}

.icon-flask:before {
  content: "\f0c3";
}

.icon-envelope:before {
  content: "\f0e0";
}

.icon-linkedin:before {
  content: "\f0e1";
}

.icon-github-alt:before {
  content: "\f113";
}

.icon-gamepad:before {
  content: "\f11b";
}

.icon-file:before {
  content: "\f15b";
}
/*# sourceMappingURL=icomoon.css.map */