//#292f31 dark blue background
html{
  height: 100%;
}
body{
  height: 100%;
  background: none;
}
.dialog-off-canvas-main-canvas{
  height: 100%;
}
.background { 
  min-height: 100%;
  background: url("../images/bkgd-short.jpg") center bottom fixed;
  background-color: #292f31;
  background-size: cover;
}
// html.no-touch{
//   .background{
//     background-position: 0 0;
//   }
// }
.container-main{
  padding-top: 72px;
  // background: rgba(41,47,49, 0.8);
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: $screen-md-min) {

  .navbar-nav{
    > li > a{
      padding-top: 42.5px;
      padding-bottom: 42.5px;
    }
    > li > a.navbar-icon{
      font-size: 2em;
      padding-top:38px;
      padding-bottom:38px;
    }
  }

  .container-main{
    padding-top: 128px;
  }
  .navbar-brand{
    background: url("../images/logo.png") center center no-repeat;
    background-size: 160px 70px;
    width: 160px;
    height: 99px;
    margin-right: $grid-gutter-width / 2;
    @include text-hide();
  }
}


.footer{
  @include make-sm-column(12);
  height: 150px;
  position: relative;

  p{
    position:absolute;
    bottom:10px;
  }
}
.small{
  color: $gray;
}