// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Project styles ->

.project{
  @include make-row();
  margin-bottom: 50px;
}
.project-meta{

}
.project-gallery{

}
// <-- Project styles