
<div class="background" data-type="background">
  <!-- Fixed navbar -->
  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Dolenworks</a>
      </div>
      <div class="navbar-collapse collapse">
        {{ page.primary_menu }}

        {# <ul class="nav navbar-nav">
          <li class="active">
              <a href="/"><span>Projects</span></a>
          </li>
          <li class="" >
              <a href="/about"><span>About</span></a>
          </li>
          <li>
            <a href="/resume.pdf" target="_blank"><span class="glyphicon glyphicon-file"></span> Resume</a>
          </li>
        </ul> #}
        <ul class="nav navbar-nav navbar-right">
          <li><a href="https://github.com/wullaski" target="_blank" class="navbar-icon"><i class="icon-connect icon-github-alt"></i></a></li>
          <li><a href="https://www.linkedin.com/pub/john-woolschlager/8/a48/366" target="_blank" class="navbar-icon"><i class="icon-connect icon-linkedin"></i></a></li>
          <li><a href="mailto:wullaski@gmail.com" class="navbar-icon"><i class="icon-connect icon-envelope"></i></a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
  <div class="container container-main" data-type="foreground">
    {{ page.content }}
  </div> <!-- /container -->
  <div class="container">
    <div class="row">
      <div class="footer"><p class="small">&copy;2022 John Woolschlager</p></div>
    </div>
  </div>
</div>
