<div class="project">
    <div class="project-meta">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">{{ label }}</h2>
            </div>
            <div class="panel-body">
                {{content}}
            </div>
        </div>
    </div>
</div>